




.dash-spreadsheet-menu *,
.dash-spreadsheet-menu *::before,
.dash-spreadsheet-menu *::after {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
    pointer-events: none !important;
    position: absolute !important;
    visibility: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
}

.table-subtitle {
    font-size: var(--font-size-base);
}

.table-title {
    font-size: var(--font-size-md);
}

.dash-cell.dash-header {
  border: 2px solid red;
}

@media (max-width: 768px) {
  
  .table-cell,
  .table-header {
    font-size: var(--font-size-xs);
    padding: calc(var(--space-2) * 0.75);
  }
  
  .table-cell--text {
    max-width: 150px;
  }
}

