.container-fluid {
    min-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    min-width: 430px;
    
}



.main-navbar {    
}

.card-body {
    margin-left: 5px;
    
}
/* Base container styles */
.layout-wrapper {
    width: 100%;
    display: flex;

    flex-direction: column;
    position: relative;
    padding: 0;
    margin: 0;
}

.main-filters-row {
    border-top: 0.2px solid red;
}

.reporting-controls-row {
    border-top: 0.2px solid red;
}

/* Sidebar styles */
.sidebar-col {
    width: 100%;
    max-width: 100%;
    border: 0; 
    border: 0; 
    border-collapse: collapse;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
    overflow: visible;
}

.sidebar-col.row {
    max-width: 430px;
}
    
.sidebar-col.collapsed {
    width: 100%;
    max-width: 100%;
    height: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.main-filter-column {
    padding: 0 !important;
    max-width: 100%;
    border-collapse: collapse;
    border: 0;
}


.button-groups-row {
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0;
    max-width: 430px;
    

}

.datatable-container {
    width: fit-content;
    margin-top: 0;
    max-width: none;
    border: 1px solid #ccc;
    height: calc(100% - var(--titles-height));
    overflow: auto;
    font-family: var(--font-family-sans);
    font-size: var(--table-font-size);
    overflow-x: hidden;
    margin-left: 1px;
    border: 0;
}

.titles-container {
    width: 100%;
    overflow: hidden;
    border: 0;
    margin: 0;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.col-md-6 {
}

.col-md-12 {
}

.market-analysis-content {
    margin-top: 1rem;
}

.market-analysis-title {
    font-weight: bold;
    font-size: 0.875rem;
}

.card-container {
    margin-bottom: 1rem;
}

.tabs-container {
    border-bottom: 1px solid rgb(226, 232, 240);
    padding: 0;
    margin-bottom: 1rem;
}

.tab {
    padding: 0.5rem 1rem;
    color: rgb(107, 114, 128);
    border: none;
    margin-right: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.tab-selected {
    padding: 0.5rem 1rem;
    color: rgb(37, 99, 235);
    border-bottom: 2px solid rgb(37, 99, 235);
    background: none;
}

.chart-container {
    height: auto;
    width: auto;
    border-right: 1px solid var(--color-border-weak);
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    min-width: 100px;
    max-width: 100px;
}

.chart-container.collapsed {
    width: 90%;
    border: 1px solid #ccc;
}

.titles-container-chart {
    height: var(--titles-height);
    width: 100%;
    border: 1px solid #ccc;
    overflow-x: hidden;
    border: 0;
    margin: 0;
    max-width: 100px;
}

.graph-container {
    height: calc(100% - var(--titles-height));
    width: 100%;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    min-width: 100px;
    max-width: 100px;
}