.tables-container {
    margin-top: 2rem !important;  
}

.data-section {
    margin-top: o !important;
    margin-bottom: 2rem;
    width: fit-content;
}

.data-section:last-child {
    margin-bottom: 0;
}

.sidebar.collapsed {
    width: 100%;
    max-width: 100%;
    height: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    transition: width 0.3s ease;
}


.dash-table-container {
}

.dash-spreadsheet-menu *,
.dash-spreadsheet-menu *::before,
.dash-spreadsheet-menu *::after {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
    pointer-events: none !important;
    position: absolute !important;
    visibility: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    margin-bottom: 2rem;
}

.dash-spreadsheet-container {
}
.dash-spreadsheet-inner {
}
.dash-cell.dash-header {
}