.container-fluid {
    width: 100%;
    padding: 0;
    margin-left: 0;
    flex-direction: column;
    margin-right: 0;
    overflow: auto;   
}

.debug-panel {
    max-width: 430px;
    min-width: 375px;
    font-size: 0.875rem;
}

/* Basic layout */
.app-container {
}

.card-body {
    padding-top: 0rem;
    padding-bottom: 0rem;
    max-width: 100% !important
}

/* Reset some base styles */
body {
  overflow-x: hidden;
}

.app-row {
    display: flex;
    flex-wrap: nowrap !important;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    gap: 0; /* Equivalent to g-0 */
}

.row>* {   
}